name: Syncer

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Install
      run: |
        echo "install image-syncer"
        GOBIN=/usr/local/bin go install github.com/appscode-images/image-syncer@b28de98

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_READONLY_TOKEN }}

    - name: Log in to the GitHub Container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: 1gtm
        password: ${{ secrets.LGTM_GITHUB_TOKEN }}

    - name: Sync
      run: |
        image-syncer --all ghcr.io/ferretdb/postgres-documentdb ghcr.io/appscode-images/postgres-documentdb || true
        image-syncer andrewgaul/s3proxy ghcr.io/appscode/s3proxy || true
        image-syncer crossplane/crossplane ghcr.io/kubedb/crossplane || true
        image-syncer ghcr.io/scality/cloudserver ghcr.io/appscode/cloudserver || true
        image-syncer ghcr.io/stakater/reloader ghcr.io/appscode/reloader || true
        image-syncer gotenberg/gotenberg ghcr.io/appscode/gotenberg || true
        image-syncer groundnuty/k8s-wait-for ghcr.io/appscode/k8s-wait-for || true
        image-syncer openfga/openfga ghcr.io/appscode/openfga || true
        image-syncer quay.io/jetstack/cert-manager-acmesolver ghcr.io/appscode-images/cert-manager-acmesolver || true
        image-syncer quay.io/jetstack/cert-manager-cainjector ghcr.io/appscode-images/cert-manager-cainjector || true
        image-syncer quay.io/jetstack/cert-manager-controller ghcr.io/appscode-images/cert-manager-controller || true
        image-syncer quay.io/jetstack/cert-manager-webhook ghcr.io/appscode-images/cert-manager-webhook || true
        image-syncer registry.k8s.io/ingress-nginx/controller ghcr.io/appscode-images/ingress-nginx-controller
        image-syncer rpardini/docker-registry-proxy ghcr.io/appscode/docker-registry-proxy || true
        image-syncer xpkg.upbound.io/crossplane/crossplane ghcr.io/kubedb/crossplane || true
